<h3>說明</h3>
<pre>
    此為 GTS 工作環境中,碰到的一些應用實例記述
</pre>
<ul>
    <li><a href="~/GTS/test?name=SWITCH" target="_blank">演示 Razor 搭配 swith 產生頁面的方法</a></li>
    <li><a href="~/GTS/test?name=ViewData" target="_blank">演示 ViewData 對 PartialView 傳值</a></li>


</ul>
